{% extends 'layout.html.twig' %}

{%block title%}
Examen TP
{% endblock %}

{%block body%}
    <div class="container">
        <div class="alert alert-success" role="alert">
            Welcome To The Small WebSite of The Exam
        </div>
    </div>
{% endblock %}

