{% extends 'layout.html.twig'%}

{% block title%}
    Details
{% endblock%}

{% block body%}
    <div class="card text-white bg-primary mb-3 m-2" style="max-width: 18rem">
        <div class="card-body">
            <h5 class="card-title">Title: {{ pfe.title }}</h5>
            <p class="card-text">Student: {{ pfe.student }}</p>
            <p class="card-text">Entreprise: {{ pfe.entreprise }}</p>
        </div>
    </div>
{% endblock%}